<%= if 1 + 1 == 2 do %>
  Truth
<% else %>
  What?
<% end %>

<%= for i <- 1..10 do %>
  <%= i %>
<% end %>

<%= content_tag :a, href: "https://example.com" do %>
  Hello!
<% end %>

<%= form_for @changeset, @action, fn _form -> %>
  Hello again!
<%= end %>

<%= f = form_for @changeset, @action %>
  Hello again!
<%= end %>

<%= MyApp.Module1.SubModule.really_long_function_name_with_multiples_lines(
  "arg1",
  "arg2",
  "arg3" %>
