<div>

  {switch $numMarbles}
    {case 0}
      You have no marbles.
    {case 1, 2, 3}
      You have a normal number of marbles.
    {default}  // 4 or more
      You have more marbles than you know what to do with.
  {/switch}

</div>
