<script>
 {% if condition %}
   console.log('Current indentation');
   if (true) {
     console.log('hello');
   }
   console.log('Current indentation');
 {% endif %}
 if (true) {
   console.log('hesllo');
 }
</script>
<div>
  {% if condition %}
    hello
  {% endif %}
</div>
